<!DOCTYPE html>
<html>
  <head>
    <title>calhoun</title>
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
  </head>

  <body>
    <div class="content_container">
      <img src="/assets/images/dog.png" />

      <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="photoUpload">Filename:</label>
        <input type="file" name="photoUpload" id="photoUpload" />
        <input type="submit" name="submit" value="Submit" />
      </form>

    </div>
  </body>
</html>
